<ion-view>
	<ion-content style="background: url(img/login.jpg) center; background-size: cover;">
		<div class="hero no-header flat">
            <div class="content">
		<!-- Logo Here -->
                <!--div class="app-icon" style="background: url(img/profile.png); "></div-->
                <h1>xChange</h1>
            </div>
        </div>
        
	<div class="padding">
            <button ng-click="loginFB()" class="button button-full ink button-positive-900">
		<i class="icon ion-social-facebook"></i>
		 Log in with Facebook 
	    </button>
        </div>
	
	</ion-content>
</ion-view>